/*
    Colors
    
    primary orange:     #F6D365
    secondary yellow:   #E3F163
    tertiary red:       #F6A165
    http://paletton.com/#uid=51d0O0kiSuS8YO-eiDxmNrdqCmE

*/
@import url("https://fonts.googleapis.com/css?family=Alfa+Slab+One|Nixie+One|Open+Sans|Raleway");
body {
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #1f1f1f !important;
  color: #FFFFFF !important; }

.dark-bear-logo {
  width: 50px;
  margin-right: 5px;
  margin-bottom: 8px; }

.light-bear-logo {
  width: 100px;
  margin-right: 5px;
  margin-bottom: 8px; }

/* Style Bootstrap Navbar */
.navbar {
  background: linear-gradient(120deg, #f6a165 0%, #f6d365); }

.navbar .navbar-brand {
  font-family: 'Alfa Slab One', cursive;
  font-size: 28pt;
  color: #1f1f1f; }

.navbar .navbar-brand:hover {
  text-decoration: none; }

.nav-link {
  color: #1F1F1F;
  font-size: 14pt;
  font-family: 'Raleway', sans-serif; }

.nav-link:hover {
  color: #FFFFFF;
  text-decoration: underline; }

#home-background {
  height: 400px;
  padding-top: 4vw; }

.home-background-image-0 {
  background-image: url("../images/backgrounds/barbell.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 2s linear; }

.home-background-image-1 {
  background-image: url("../images/backgrounds/bike.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 2s; }

.home-background-image-2 {
  background-image: url("../images/backgrounds/basketball.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 2s; }

.home-background-image-3 {
  background-image: url("../images/backgrounds/jumprope.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 2s; }

.home-background-image-4 {
  background-image: url("../images/backgrounds/kettlebell.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 2s; }

.home-background-image-5 {
  background-image: url("../images/backgrounds/main-bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 2s; }

.home-background-image-6 {
  background-image: url("../images/backgrounds/pool.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 2s; }

.home-background-image-7 {
  background-image: url("../images/backgrounds/tennis.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 2s; }

.highlighter {
  background: linear-gradient(120deg, #f6a165 0%, #f6d365); }

.display-1 {
  font-family: 'Alfa Slab One', cursive !important;
  color: #FFFFFF !important; }

.display-4 {
  font-family: 'Nixie One', cursive !important; }

h1 {
  font-family: 'Nixie One', cursive !important; }

h2 {
  font-family: 'Raleway', sans-serif !important; }

h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important; }

.img-1 {
  background-image: url("../images/i.jpg"); }

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}
*/
.validation-summary-valid {
  display: none; }

.validation-summary-errors {
  list-style-type: lower-alpha; }

.padded-top {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px; }

span.field-validation-error {
  color: #E3F163; }

/*Log in/Register pages*/
.form-login {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.form-login .form-login-heading,
.form-login .checkbox {
  margin-bottom: 10px; }

.form-login .checkbox {
  font-weight: normal; }

.form-login .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16pt; }

.form-login .form-control:focus {
  z-index: 2; }

.form-login input[type="username"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.form-login input[type="username-register"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-login input[type="email-register"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.form-login input[type="password-register"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.form-login input[type="confirm-register"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.form-login-max-width {
  max-width: 500px; }

/* Sets/Reps */
.sets-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  max-width: 125px; }

.reps-input {
  margin-left: -1px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  max-width: 125px; }

.numeric-input {
  max-width: 250px; }

.rest-hours-input {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  max-width: 100px; }

.rest-minutes-input {
  margin-left: -1px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  max-width: 100px; }

.rest-seconds-input {
  margin-left: -2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  max-width: 100px; }

.transparent {
  display: none !important; }

.dropdown-menu > li > a {
  font-family: 'Raleway', sans-serif;
  color: #E3F163; }

.dropdown-menu {
  border-radius: 0px; }

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  color: #E3F163;
  text-decoration: underline;
  background-color: #FFFFFF; }

.btn-primary {
  color: #ffffff;
  background-color: #F6D365;
  border-color: #F6D365; }

.btn-primary:hover, .btn-primary:focus {
  color: #ffffff;
  background-color: #a57339;
  border-color: #a57339; }

@media only screen and (max-width: 780px) {
  .display-1 {
    font-size: 2.8em !important; }
  .display-4 {
    font-size: 1.6em !important; }
  .home-background {
    height: 150px;
    padding-top: 4vw; } }
