<div id="home-background" class="home-background-image-0">
    <div class="container">
        <p class="display-1">Bearstrength</p>
        <p class="display-4">
            <span class="highlighter">Simplify your workout.</span>
        </p>
    </div>
</div>
<div class="container">
    <p class="lead">
        Bearstrength allows you to simplify your workout routine, eliminating clutter and unnecessary distractions.
        Focus on what's most important while training.
    </p>
    <p>
        Simply create a workout routine before you head to the gym or select one from our list of popular workouts. When you get
        to the gym, all you need to do is tap through your sets and reps as you complete them.
    </p>
</div>