<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bearstrength</title>
    <link rel="stylesheet" type="text/css" href="css/Site.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav role="navigation" class="navbar navbar-expand-sm">
            <div class="container">
                <a asp-action="Index" asp-controller="Home" class="navbar-brand">
                    <img src="images/bear-paw.svg" class="dark-bear-logo" />Bearstrength
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a asp-action="Contact" asp-controller="Home" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Home" class="nav-link">Workout</a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Home" class="nav-link">User</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div id="home-background" class="home-background-image-0">
            <div class="container">
                <p class="display-1">Bearstrength</p>
                <p class="display-4">
                    <span class="highlighter">Simplify your workout.</span>
                </p>
            </div>
        </div>
        <div class="container">
            <p class="lead">
                Bearstrength allows you to simplify your workout routine, eliminating clutter and unnecessary distractions.
                Focus on what's most important while training.
            </p>
            <p>
                Simply create a workout routine before you head to the gym or select one from our list of popular workouts. When you get
                to the gym, all you need to do is tap through your sets and reps as you complete them.
            </p>
        </div>
    </main>
    <footer>
        <div class="container">&copy; 2018 - Bearstrength</div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/Site.js"></script>
</body>

</html>