$primary-color: #F6D365;
$secondary-color: #F6A165;
$body-color: #1F1F1F;
$font-color: #FFFFFF;
$bearstrength-gradient: linear-gradient(120deg, $secondary-color 0%, $primary-color);

@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Nixie+One|Open+Sans|Raleway');
$bearstrength-font-family: 'Alfa Slab One', cursive;
$heading-font-family: 'Nixie One', cursive;
$minor-heading-font-family: 'Raleway', sans-serif;
$body-font-family: 'Open Sans', sans-serif;

body {
    padding-bottom: 20px;
    font-family: $body-font-family;
    background-color: $body-color !important;
    color: $font-color !important;
}

.dark-bear-logo {
    width: 50px;
    margin-right: 5px;
    margin-bottom: 8px;
}

.light-bear-logo {
    width: 100px;
    margin-right: 5px;
    margin-bottom: 8px;
}

/* Style Bootstrap Navbar */
.navbar {
    background: $bearstrength-gradient;
}

.navbar .navbar-brand {
    font-family: $bearstrength-font-family;
    font-size: 28pt;
    color: $body-color;
}

.navbar .navbar-brand:hover {
    text-decoration: none;
}

.nav-link {
    color: $body-color;
    font-size: 14pt;
    font-family: $minor-heading-font-family;
}

.nav-link:hover {
    color: $font-color;
    text-decoration: underline;
}

/* Home page full-size image scroll */
#home-background {
    height: 400px;
    padding-top: 4vw;
}

.home-background-image-0 {
    background-image: url("../images/backgrounds/barbell.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 2s linear;
}

.home-background-image-1 {
    background-image: url("../images/backgrounds/bike.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 2s;
}

.home-background-image-2 {
    background-image: url("../images/backgrounds/basketball.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 2s;
}

.home-background-image-3 {
    background-image: url("../images/backgrounds/jumprope.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 2s;
}

.home-background-image-4 {
    background-image: url("../images/backgrounds/kettlebell.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 2s;
}

.home-background-image-5 {
    background-image: url("../images/backgrounds/main-bg.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 2s;
}

.home-background-image-6 {
    background-image: url("../images/backgrounds/pool.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 2s;
}

.home-background-image-7 {
    background-image: url("../images/backgrounds/tennis.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    transition: all 2s;
}

.highlighter {
    background: $bearstrength-gradient;
}

.display-1 {
    font-family: $bearstrength-font-family !important;
    color: $font-color !important;
}

.display-4 {
    font-family: $heading-font-family !important;
}

h1 {
    font-family: $heading-font-family !important;
    background: $bearstrength-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: $minor-heading-font-family !important;
}

h3, h4, h5, h6 {
    font-family: $body-font-family !important;
}

.img-1 {
    background-image: url("../images/i.jpg");
}

/* Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}
*/

.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    list-style-type: lower-alpha;
}

.padded-top {
    padding-top: 25px;
}

.transparent {
    display: none !important;
}

@media only screen and (max-width: 780px) {

    .display-1 {
        font-size: 2.8em !important;
    }

    .display-4 {
        font-size: 1.6em !important;
    }

    .home-background {
        height: 150px;
        padding-top: 4vw;
    }
}
