/* http://paletton.com/#uid=51d0O0kiSuS8YO-eiDxmNrdqCmE */
$primary-color: #F6D365;
$secondary-color: #E3F163;
$tertiary-color: #F6A165;
$body-font-color: #1f1f1f;

@import url(https://fonts.googleapis.com/css?family=Bangers|Oswald|Roboto);
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Oswald', sans-serif;
$brand-font: 'Bangers', cursive, serif;
    
body {
    font-family: $primary-font;
    color: $body-font-color;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}

h1, h2 {
    font-family: $secondary-font;
    color: $primary-color;
}

h3, h4, h5, h6 {
    font-family: $primary-font;
    color: $secondary-color;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.validation-summary-valid {
    display: none;
}

.validation-summary-errors {
    list-style-type: lower-alpha;
}

.padded-top {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.field-validation-error {
    color: $secondary-color;
}

/*Log in/Register pages*/
.form-login {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}

.form-login .checkbox {
    font-weight: normal;
}

.form-login .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-login .form-control:focus {
    z-index: 2;
}

.form-login input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-login input[type="username-register"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-login input[type="email-register"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-login input[type="password-register"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-login input[type="confirm-register"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-login-max-width {
    max-width: 500px;
}

/* Sets/Reps */
.sets-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    max-width: 125px;
}

.reps-input {
    margin-left: -1px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    max-width: 125px;
}

.numeric-input {
    max-width: 250px;
}

.rest-hours-input {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    max-width: 100px;
}

.rest-minutes-input {
    margin-left: -1px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    max-width: 100px;
}

.rest-seconds-input {
    margin-left: -2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    max-width: 100px;
}

/* Override Bootstrap CSS */
.navbar-inverse {
    background: linear-gradient(120deg, $tertiary-color 0%, $primary-color);
    border-style: none;
}

.navbar-inverse .navbar-brand {
    font-family: $brand-font;
    font-size: 36px;
}

.navbar-inverse .navbar-brand .bear {
    color: #FFFFFF;
}

.navbar-inverse .navbar-brand .strength {
    color: $secondary-color;
    margin-left: -4px;
}

.navbar-inverse .navbar-brand .bear:hover, .navbar-inverse .navbar-brand .strength:hover {
    text-decoration: none;
}

.navbar-inverse .navbar-nav > li > a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 3px solid transparent;
    font-family: $secondary-font;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    border-bottom: 3px solid $secondary-color;
}

.navbar-inverse .navbar-nav > li:active > a {
    border-bottom: 3px solid $secondary-color;
}

.navbar-toggle {
    border: 0 none;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #FFFFFF;
    border-top: 0;
    text-align: right;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: $secondary-color;
    background-color: #FFFFFF;
}

.dropdown-menu > li > a {
    font-family: $secondary-font;
    color: $secondary-color;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: $secondary-color;
    text-decoration: underline;
    background-color: #FFFFFF;
}

.btn-primary {
    color: #ffffff;
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-primary:hover, .btn-primary:focus {
    color: #ffffff;
    background-color: #a57339;
    border-color: #a57339;
}
